*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(11, 17, 36);
}
/* navbar  */
.navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
   align-items: center;
   color:  #adadad;
   font-size: 1.5rem;
    
}
.above{
    margin-top: 200px;
    /* border: 2px solid white; */
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;


}
li{
  list-style: none;
}
#logo{
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to right, #14f236, #3cd1ff);
    background-clip: text;
    color: transparent;
}
#Contact{
    border: 2px solid white;
    font-size: 1.3rem;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: none;
    color: white;
}
/* main content  */
.main-content{
    height: auto;
    width: 99.8vw;
    /* border: 2px solid white; */
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
}
.profile img{
    border-radius: 50%;
    border: 0.2vw solid rgb(14, 161, 63);
    box-shadow: 0 0 5px #14f236;
}
.heading{
    font-size: 3rem;
    font-weight: bold;
      background: linear-gradient(to right, #14f236, #3cd1ff);
    background-clip: text;
    color: transparent;

}
.subheading{
    font-size: 2rem;
      background: linear-gradient(to right, #14f236, #3cd1ff);
    background-clip: text;
    color: transparent;
}
.contactme{
    height: 1.5vw;
    width: 5vw;
    border: none;
    border-radius: 8px;
}
p{
    width: 25vw;

    /* border: 2px solid white; */
    font-size: 1.2rem;
    /* margin-left: 200px; */
    color: #adadad;
}



